<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMP4NA9Lfcmo3yqqjgMaQef9_LORV6XMI</string>
	<key>GCM_SENDER_ID</key>
	<string>160574897205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wmnf.org.wmnf.wmnf</string>
	<key>PROJECT_ID</key>
	<string>magnetic-racer-242820</string>
	<key>STORAGE_BUCKET</key>
	<string>magnetic-racer-242820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:160574897205:ios:ff5c175b6a9c50b5f9057c</string>
	<key>CLIENT_ID</key>
	<string>160574897205-ft2i6iubvbj207e8c0t3ugt7qee1d6ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160574897205-ft2i6iubvbj207e8c0t3ugt7qee1d6ju</string>
</dict>
</plist>
